@use './theme/theme.scss' as theme;
@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  @include theme.theme;
}

body {
  margin: 0;
}

:root {
  --section-max-w: 90rem;
}
